In [14]:
import pandas as pd
import numpy as np

iris=pd.read_csv("dummy_data.csv")
iris.head()

   sepal.length  sepal.width  petal.length  petal.width species
0           5.1          3.5           0.2          1.4  selosa
1           6.2          4.2           0.5          2.9  selosa
2           7.4          6.8           0.4          5.7  selosa
3           8.6          2.7           0.3          4.2  selosa
4           9.7          6.3           0.7          7.8  selosa

In [16]:
iris[(iris["sepal.length"] > 5) & (iris["sepal.width"] > 3)]

   sepal.length  sepal.width  petal.length  petal.width species
0           5.1          3.5           0.2          1.4  selosa
1           6.2          4.2           0.5          2.9  selosa
2           7.4          6.8           0.4          5.7  selosa
4           9.7          6.3           0.7          7.8  selosa